.home-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, #e6e6ff, #dfe9f3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.home-container .todo-list {
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  height: 600px;
  overflow: auto;
  background: linear-gradient(to bottom, #001f3f, #001533);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
}

.home-container .heading h1 {
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  margin-top: 0;
}

.home-container .todo-list {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.home-container .todo-list::-webkit-scrollbar {
  width: 8px;
}

.home-container .todo-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.home-container .todo-list::-webkit-scrollbar-track {
  background: transparent;
}
