.home-container {
  width: 100%;
  height: 100vh;
  background-color: #e6e6ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.home-container .todo-list {
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  height: 600px;
  overflow: auto;
  background-color: #2929b4;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.home-container .heading h1 {
  text-align: center;
  color: #fff;
  padding-top: 50px;
}
.home-container .todo-list {
  display: flex;
  margin-top: 50px;
}
