.add-item-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.add-item-container input{
    max-width: 500px;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 4px;
    padding:0 20px;
    outline: none;
    font-size: 20px;
    margin-right: 10px;
}
.add-item-container button{
    height: 45px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgb(79, 79, 250);
    color: #fff;
    transition: all 300ms ease-in-out;
}
.add-item-container button:hover{
    background-color: rgb(45, 45, 247);
}